.thumbnail {
  width: 150px;
  height: 100px;
  object-fit: cover; /* crop & fit the image cleanly */
  border-radius: 6px; /* optional rounded corners */   
}

.gallery {
    display: flex;
    gap: 10px;
}

.element {
    display: flex;
    flex-direction: column;
    align-items: center;
}