<h2 class="header">{{header}}</h2>
<p class="mobile-tip">📱 Seleciona a Imagem</p>
<div class="gallery">
  @for(item of highlighted; track item.label) {
    <mat-card class="gallery-item" matRipple (click)="openImage(item.path)" role="button" tabindex="0">
      <img mat-card-image [src]="item.path" alt="{{ item.label }}" />
      <mat-card-content>
        <h4 class="mat-body-medium">{{ item.label }}</h4>
      </mat-card-content>
    </mat-card>
  }

  @for(group of groups; track group.label) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ group.label }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
      @for (img of group.images; track img.label) {
        <mat-card class="gallery-item" matRipple (click)="openImage(img.path)" role="button" tabindex="0">
          <img mat-card-image [src]="img.path" alt="{{ img.label }}" />
          <mat-card-content>
            <h4 class="mat-body-medium">{{ img.label }}</h4>
          </mat-card-content>
        </mat-card>
      }
      </div>
    </mat-expansion-panel>
  }
</div>
