@if (!subSectionHeader)  {
<h2 class="header">{{sectionHeader}}</h2>
}
@if (subSectionHeader)  {
<h2 class="header">{{sectionHeader}} - {{subSectionHeader}}</h2>
}
<p class="mobile-tip">📱 Seleciona a Imagem</p>
<div class="gallery">
  @for (img of images; track $index) {
    <mat-card class="gallery-item" matRipple (click)="openImage(img.path)" role="button" tabindex="0">
      <img mat-card-image [src]="img.path" alt="{{ img.title }}" />
      <mat-card-content>
        <h4 class="mat-body-medium">{{ img.title }}</h4>
      </mat-card-content>
    </mat-card>
  }
</div>
