<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="isSmallScreen ? 'over' : 'side'"
    [opened]="!isSmallScreen"
    class="sidenav"
  >
    <mat-nav-list>
      <ng-container *ngFor="let item of navItems">
        <mat-list-item
          *ngIf="!item.children"
          [routerLink]="getFullRoute(item)"
          routerLinkActive="active-link"
        >
          <span class="sidenav-list-item">{{ item.label }}</span>
        </mat-list-item>

        <mat-expansion-panel *ngIf="item.children" [expanded]="item.expanded">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ item.label }}</mat-panel-title>
          </mat-expansion-panel-header>

          <ng-container *ngFor="let child of item.children">
            <mat-list-item
              [routerLink]="getFullRoute(item, child)"
              routerLinkActive="active-link"
            >
              <span class="sidenav-list-item">{{ child.label }}</span>
            </mat-list-item>
          </ng-container>
        </mat-expansion-panel>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button
        *ngIf="isSmallScreen"
        mat-icon-button
        (click)="toggleSidebar()"
        aria-label="Toggle sidebar"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <img src="assets/logo/bvml.ico" class="header-logo" />
      <span>B.V.Matosinhos-Leça</span>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
