<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="isSmallScreen ? 'over' : 'side'" [opened]="!isSmallScreen" class="sidenav">
    <mat-nav-list>
      <ng-container *ngFor="let item of navItems">

        <!-- Simple link (no children) -->
        <a
          *ngIf="!item.children"
          mat-list-item
          [routerLink]="item.route"
          routerLinkActive="active-link"
        >
          {{ item.label }}
        </a>

        <!-- Expansion panel for dropdown items -->
        <mat-expansion-panel *ngIf="item.children" [expanded]="item.expanded">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ item.label }}</mat-panel-title>
          </mat-expansion-panel-header>

          <ng-container *ngFor="let child of item.children">
            <a
              mat-list-item
              [routerLink]="child.route"
              routerLinkActive="active-link"
            >
              {{ child.label }}
            </a>
          </ng-container>
        </mat-expansion-panel>

      </ng-container>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button *ngIf="isSmallScreen" mat-icon-button (click)="toggleSidebar()" aria-label="Toggle sidebar">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Field Guide</span>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
