.sidenav {
  width: 260px;
  background-color: #202123;
  padding-top: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  .sidenav-list-item {
    color: #ffffff;
  }

  mat-expansion-panel {
    box-shadow: none !important;
    background-color: #202123;

    mat-expansion-panel-header {
      padding: 0 16px;

      mat-panel-title {
        color: #ffffff;
      }

      .mat-expansion-indicator svg {
        fill: #ffffff;
      }
    }
  }
}

.toolbar {
  background-color: #2b2d30;
  color: #ffffff;

  mat-icon {
    color: #ffffff;
    margin-right: 12px;
  }
}

.content {
  padding: 1rem;
  background-color: #343541;
  min-height: calc(100vh - 96px);
}

@media (max-width: 768px) {
  .sidenav {
    width: 200px;
  }

  .content {
    padding: 1rem;
  }
}
