.sidenav {
  width: 260px;
  padding-top: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  .sidenav-list-item {
    color: #ffffff;
  }

  mat-expansion-panel {
    box-shadow: none !important;

    mat-expansion-panel-header {
      padding: 0 16px;
    }
  }
}

.toolbar {

  mat-icon {
    margin-right: 12px;
  }
}

.content {
  padding: 1rem;
  min-height: calc(100vh - 96px);
}

.header-logo {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}


@media (max-width: 768px) {
  .sidenav {
    width: 200px;
  }

  .content {
    padding: 1rem;
  }
}
