<h2 mat-dialog-title>{{ data.name }}</h2>
<mat-dialog-content>
  <app-alert [message]="data.warningMsg"></app-alert>
  <div class="material-info">
    <div class="info-row">
      <div class="info-item">
        <label class="title">Guia:</label>
        <span>{{ data.guideNr }}</span>
      </div>
      <div class="info-item">
        <label class="title">Nr ONU:</label>
        <span>{{ data.numberUN }}</span>
      </div>
    </div>

    <div class="info-columns">
      <mat-accordion [multi]="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Derrame</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="material-info">
            <div class="info-item">
              <h3>EPI</h3>
              <span>{{ data.leak.epi }}</span>
            </div>
            <div class="info-item">
              <h3>Isolamento</h3>
              <span>{{ data.leak.isolation }}</span>
            </div>
            <div class="info-item">
              <h3>Atuação</h3>
              <span>{{ data.leak.action }}</span>
            </div>
            <div class="info-item">
              <h3>Descontaminação</h3>
              <span>{{ data.leak.decontamination }}</span>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion [multi]="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Incêndio</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="material-info">
            <div class="info-item">
              <h3>EPI</h3>
              <span>{{ data.fire.epi }}</span>
            </div>
            <div class="info-item">
              <h3>Isolamento</h3>
              <span>{{ data.fire.isolation }}</span>
            </div>
            <div class="info-item">
              <h3>Atuação</h3>
              <span>{{ data.fire.action }}</span>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="info-item">
        <label class="title">Zona de Evacuação (Fuga/Derrame):</label>
        <div class="info-map">
          <span>{{ data.leak.range }} metros</span>
          <span class="legend-color" style="background-color: #ffb217"></span>
        </div>
      </div>
      <div class="info-item">
        <label class="title">Zona de Evacuação (Incêndio):</label>
        <div class="info-map">
          <span>{{ data.fire.range }} metros</span>
          <span class="legend-color" style="background-color: #ff0026"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="map-wrapper">
    <app-map
      [leakRadius]="data.leak.range"
      [fireRadius]="data.fire.range"
    ></app-map>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="close()" cdkFocusInitial>Fechar</button>
</mat-dialog-actions>
