:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: 1rem;
  max-height: unset !important;
  overflow: auto;
  padding: 1rem;
  font-size: 1rem;
}
.legend-color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}
.material-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
  column-gap: 1rem;
  font-size: 1rem;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }

  .info-item {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    label {
      font-weight: 600;
      color: #c9c9c9;
      margin-bottom: 0.2rem;
    }

    span {
      font-size: 0.95rem;
      color: #a3a3a3;
    }
  }
}

.map-wrapper {
  flex: 1 1 auto;
  min-height: 200px;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

mat-dialog-actions {
  button {
    width: 100%;
  }
}
